@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-raleway;
  }
  body {
    height: 100vh;
    @apply bg-slate-300;
    @apply text-gray-800;
  }
  input[type="text"] {
    @apply rounded-xl px-4 py-2;
  }

  input[type="text"]:focus {
    outline-style: solid;
    outline-color: burlywood;
    outline-offset: 3px;
  }
}
